%footer.footer
  .section--extra-padding.section__centered{style: 'gap: 1rem;'}
    %p Visit our dental well-being shop:
    %a{href: "https://www.mahsa.co.uk/"}
      %img{alt: "Mahsa logo", src: "images/mahsa-logo.png", width: 150}/
  %br
  %br
  %hr
  %br
  %br
  .footer__inner.footer__top
    .footer__nav
      %ul.nav
        %li= link_to 'Home', '/', class: :nav__link
        %li= link_to 'About', 'about', class: :nav__link
        %li= link_to 'Anti Ageing Dentistry & Dental Rejuvenation', 'anti-ageing-dentistry-and-dental-rejuvenation', class: :nav__link
        %li= link_to 'Examination & Diagnostics', 'examination-and-diagnostics', class: :nav__link
        %li= link_to 'Oral Hygiene Treatment & Well Being Experience', 'oral-hygiene-treatment-well-being-experience', class: :nav__link
        %li= link_to 'Mahsa X Sarah Bradden Combined Body Cleansing Treatment', 'sarah-bradden-combined-body-treatment', class: :nav__link
        %li= link_to 'Signature Mahsa LED Teeth Whitening in Clinic Treatment', 'signature-mahsa-led-treatment', class: :nav__link
        %li
          %a.nav__link{href: "about.html#specialist-referrals"} Specialist Dentistry Referrals
        %li
          %button.nav__link{"data-a11y-dialog-show" => "contact-dialog"} Contact
        %li
          = link_to 'Enquiries', 'enquiries', class: :nav__link
    .footer__branding
      %img{alt: "Nejati Clinic logo", src: "images/device.svg"}/
  %br
  %br
%div{style: 'align-items: center; display: flex; justify-content: center; gap: 6rem; padding: 3rem; background-color: #fffefa;'}
  %a{href: "https://www.bacd.com/"}
    = image_tag 'british-academy-of-cosmetic-dentistry.png', style: 'width: 150px;'
  %a{href: "https://aacd.com/"}
    = image_tag 'american-academy-of-cosmetic-dentistry.png', style: 'width: 150px;'
  %a{href: "https://www.bda.org/advice/bda-good-practice//"}
    = image_tag 'british-dental-association-good-practice.png', style: 'width: 150px;'
  %a{href: "https://www.invisalign.co.uk/"}
    = image_tag 'invisalign-diamond-provider.png', style: 'width: 150px;'