%header.header
  .hide-on-desktop
    %nav.header__inner
      %input#menu.m-menu__checkbox{name: "menu", type: "checkbox"}/
      %label.m-menu__toggle{for: "menu"}
        %svg{fill: "none", height: "35", stroke: "#000000", "stroke-linecap" => "butt", "stroke-linejoin" => "arcs", "stroke-width" => "2", viewbox: "0 0 24 24", width: "35"}
          %line{x1: "3", x2: "21", y1: "12", y2: "12"}
          %line{x1: "3", x2: "21", y1: "6", y2: "6"}
          %line{x1: "3", x2: "21", y1: "18", y2: "18"}
      %label.m-menu__overlay{for: "menu"}
      .m-menu.wrapper
        .m-menu__header
          %label.m-menu__toggle{for: "menu"}
            %svg{fill: "none", height: "35", stroke: "#000000", "stroke-linecap" => "butt", "stroke-linejoin" => "arcs", "stroke-width" => "2", viewbox: "0 0 24 24", width: "35"}
              %line{x1: "18", x2: "6", y1: "6", y2: "18"}
              %line{x1: "6", x2: "18", y1: "6", y2: "18"}
          %span MENU
        %ul
          %li
            %a.nav__link{href: '/'} Home
          %li
            = link_to 'About', 'about', class: :nav__link
          %li
            %label.nav__link.a-label__chevron{for: "item-2"} Treatments
            %input#item-2.m-menu__checkbox{name: "item-2", type: "checkbox"}/
            .m-menu
              .m-menu__header
                %label.m-menu__toggle{for: "item-2"}
                  %svg{fill: "none", height: "35", stroke: "#000000", "stroke-linecap" => "butt", "stroke-linejoin" => "arcs", "stroke-width" => "2", viewbox: "0 0 24 24", width: "35"}
                    %path{d: "M19 12H6M12 5l-7 7 7 7"}
                %span Treatments
              %ul
                %li
                  = link_to 'Anti Ageing Dentistry & Dental Rejuvenation', 'anti-ageing-dentistry-and-dental-rejuvenation', class: 'nav__link'
                %li
                  %a.nav__link{href: "examination-and-diagnostics.html"} Examination &amp; Diagnositcs
                %li
                  %a.nav__link{href: "oral-hygiene-treatment-well-being-experience.html"} Oral Hygiene Treatment &amp; Well Being Experience
                %li
                  %a.nav__link{href: "sarah-bradden-combined-body-treatment.html"} Mahsa X Sarah Bradden Combined Body Cleansing Treatment
                %li
                  %a.nav__link{href: "signature-mahsa-led-treatment.html"} Signature Mahsa LED Teeth Whitening in Clinic Treatment
          %li
            %button.nav__link{"data-a11y-dialog-show" => "contact-dialog"} Contact
  .header__inner
    %nav.header__nav.hide-on-mobile
      %ul.nav
        %li
          = link_to 'Home', 'index', class: 'nav__link'
        %li
          = link_to 'About', 'about', class: :nav__link
        %li.nav__subnav
          %button.nav__link
            Treatments
            %img.nav__subnav-caret{src: "images/icon-caret.svg"}/
          %ul.nav__subnav-content.color-invert
            %li
              = link_to 'Anti Ageing Dentistry & Dental Rejuvenation', 'anti-ageing-dentistry-and-dental-rejuvenation', class: 'nav__link'
            %li
              %a.nav__link{href: "examination-and-diagnostics.html"} Examination &amp; Diagnositcs
            %li
              %a.nav__link{href: "oral-hygiene-treatment-well-being-experience.html"} Oral Hygiene Treatment &amp; Well Being Experience
            %li
              %a.nav__link{href: "sarah-bradden-combined-body-treatment.html"} Mahsa X Sarah Bradden Combined Body Cleansing Treatment
            %li
              %a.nav__link{href: "signature-mahsa-led-treatment.html"} Signature Mahsa LED Teeth Whitening in Clinic Treatment
        %li
          %button.nav__link{"data-a11y-dialog-show" => "contact-dialog"} Contact
    .header__branding
      %img{alt: "Nejati Clinic logo", src: "images/device-black.svg"}
/[if lt IE 7]
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>